.admin-header {
  background-color: #1f1f1f;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin-header h1 {
  font-size: 1.5rem;
  color: #f5f5f5;
  margin: 0;
}

.admin-header a {
  color: white;
  text-decoration: none;
}

.admin-header a:hover {
  text-decoration: underline;
}
